{% extends "FastFoodBundle:Ticket:layout.html.twig" %}

{% block title %}Delete Ticket{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Ticket Deleted</h1>
    <p class="important">
        {{ content }}
    </p>
{% endblock %}