<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - FW17 Fast Food</title>
    {% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
            <a href={{ url('product_list') }}>List All Products</a><br/>
        &copy; Copyright 2017 by <a href="http://domain.invalid/">Guillem Pascual</a>.
    {% endblock %}
</div>
</body>